<section id="recent-posts" class="recent-posts">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Artikel Pilihan</h2>
        <p> Berbagai Artikel Pilihan yang Telah Kami Kurasi </p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <article>

                    <div class="post-img">
                        <img src="assets/img/article/al-jahidz-al-kinani.webp" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Tokoh</p>

                    <h2 class="title">
                        <a href="blog-details.html">Kisah Al-Jahidz Al-Kinani, Sastrawan Kutu Buku Sampai Akhir Hayat</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <a class="btn btn-primary" href="#!">Selengkapnya →</a>
                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <article>

                    <div class="post-img">
                        <img src="assets/img/article/gus-dur.webp" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Kisah</p>

                    <h2 class="title">
                        <a href="blog-details.html">Kisah Gus Dur Naik Vespa Jatuh Kecemplung di Sawah Bareng KH Aziz Masyhuri</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <a class="btn btn-primary" href="pages/blog.html">Selengkapnya →</a>
                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

                    <div class="post-img">
                        <img src="assets/img/article/hari-ibu.webp" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Kata Data</p>

                    <h2 class="title">
                        <a href="blog-details.html">Hari Ibu, Komnas Perempuan Soroti Tingginya Angka Kematian Ibu dan Perkawinan Anak</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <a class="btn btn-primary" href="#!">Selengkapnya →</a>
                    </div>

                </article>
            </div><!-- End post list item -->

        </div><!-- End recent posts list -->

    </div>

</section><!-- End Recent-posts Section -->