<!DOCTYPE html>
<html lang="en">
<section id="contact" class="contact">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Kontak Kami</h2>
        <p>Temui kami untuk informasi lebih lanjut atau pertanyaan. Kami siap membantu Anda dengan segala kebutuhan Anda</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6">

                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Alamat</h3>
                            <p>Jl. Pajagalan RT 03 RW 12</p>
                            <p>Ds. Banjaran Kulon, Kec. Banjaran, Kab. Bandung</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Hubungi</h3>
                            <p>0821 2345 6789 (Fulan)</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Email</h3>
                            <p>annadhloh@gmail.com</p>
                            <p>fulan@gamil.com</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="500">
                            <i class="bi bi-clock"></i>
                            <h3>Jam Operasi</h3>
                            <p>Senin - Sabtu</p>
                            <p>09:00AM - 05:00PM</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

            </div>

            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392.4895718438955!2d107.59068108656572!3d-7.044925910913829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68eb67a561bf67%3A0xcebe6047887f501d!2sPondok%20Pesantren%20%26%20Madrasah%20Diniyyah%20An-Nahdloh!5e0!3m2!1sid!2sid!4v1703231063320!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section>

<script src="https://morgan3d.github.io/include.js/include.min.js"></script>

</html>
